@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --primary-color: #f1eee9;
  --secondary-color: #f54725;
  --tertiary-color: #f9d678;
  --text-dark: #13313c;
  --text-light: #475569;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Rubik", sans-serif;
}

body {
  background-image: url("/views/assets/images/login-bg.png"); /* Relative path from the root of your server */
  background-size: cover; /* Ensure the background image covers the entire screen */
  background-position: center; /* Center the background */
  background-attachment: fixed; /* Make the background fixed while scrolling */
  height: 100vh;
  margin: 0;
}

/* Header Section */
header {
  background-color: #1d3a6c; /* AUF blue color */
}

header .logo {
  height: 40px;
}

header h1 {
  font-family: var(--header-font);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: right;
}

/*------------ Login container ------------*/
.box-area {
  width: 930px;
}

/*------------ Right box ------------*/
.right-box {
  padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/
::placeholder {
  font-size: 16px;
}

.rounded-4 {
  border-radius: 20px;
}

.rounded-5 {
  border-radius: 30px;
}

/*------------ Input Button Hover Effect ------------*/
input[type="text"],
input[type="password"],
button {
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #1d3a6c;
}

/*------------ Go Back Button Alignment ------------*/
.go-back-link {
  font-size: 18px;
  margin-bottom: 20px;
  display: inline-block;
}

/*------------ Form Input Spacing ------------*/
input[type="text"],
input[type="password"] {
  margin-bottom: 20px;
}

/*------------ Adjust Login Button Spacing ------------*/
button[type="submit"] {
  background-color: #60b0ff;
  border-width: 0cap;
  margin-top: 15px;
}

button[type="submit"]:hover {
  background-color: #346ea9;
}

/*------------ For small screens------------*/
@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }

  .left-box {
    height: 100px;
    overflow: hidden;
  }

  .right-box {
    padding: 20px;
  }
}
