<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Helpdesk Edit Team">
  <meta name="author" content="">

  <title>Helpdesk - Edit Team</title>
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/views/assets/css/dashboard.css" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet">
  <link href="/views/assets/css/style.css" rel="stylesheet">
  <link href="/views/assets/css/navbar.css" rel="stylesheet">
  <link href="/views/assets/css/sidebar.css" rel="stylesheet">
</head>


  <!-- jQuery and Bootstrap Bundle (JavaScript) -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div id="wrapper" class="d-flex flex-column min-vh-100">
    <!-- Navigation Partial -->
    {{> navbar}}

    <!-- Sidebar Partial -->
    {{> sidebar}}

    <!-- Content Wrapper -->
    <div id="content-wrapper">
      <div class="container-fluid">
        <ol class="breadcrumb" style="margin-left: 0; padding-left: 15px; max-width: 88%;">
          <li class="breadcrumb-item">
            <a href="./users">Users</a>
          </li>
          <li class="breadcrumb-item active">Edit User</li>
        </ol>

        <div class="card mb-3 flex-grow-1" style="padding: 5px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 20px; margin-left: -1px; max-width: 88%; margin-top: -0px;">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Edit User Details</h3>
            <form method="POST" action="/update-user/{{id}}">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" id="name" value="{{name}}" required>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" id="email" value="{{email}}" required>
    </div>
    <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="text" class="form-control" name="phone" id="phone" value="{{phone}}" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter new password">
        <small class="form-text text-muted">Leave blank to keep the current password.</small>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Update</button>
        <button type="button" class="btn btn-danger" onclick="window.history.back();"><i class="fa fa-times"></i> Cancel</button>
    </div>
</form>

          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

      <!-- Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto">
            <span> AUF Helpdesk System © 2024. All Rights Reserved</span>
          </div>
        </div>
      </footer>
    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Core JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Custom Scripts -->
  <script src="js/sb-admin.min.js"></script>
  <script src="js/demo/datatables-demo.js"></script>
</body>

</html>
