<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="views/assets/css/home.css" />
    <title>AUF Helpdesk Ticketing System</title>
  </head>
  <body>
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#">
            <img src="https://www.auf.edu.ph/images/auf-logo.png" alt="AUF Logo" />
            <h5>Angeles University Foundation</h5>
          </a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <span><i class="ri-menu-line"></i></span>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="#">Feature</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <div class="nav__btns">
        <!-- Sign Up Button Replaced to Link to Login Form -->
        <a href="/login-form">
          <button class="btn">Log in</button>
        </a>
      </div>
    </nav>
    <header class="section__container header__container">
      <div class="header__image">
        <img src="views/assets/images/LP-pic1.png" alt="header" />
      </div>
      <div class="header__content">
        <h2>AUF Helpdesk Ticketing System</h2>
        <h1>EFFICIENT SUPPORT, FAST SOLUTIONS</h1>
        <p>
            The AUF Helpdesk Ticketing System is designed to provide efficient and timely support to all students, faculty, and staff. Whether you need assistance with academic concerns, administrative inquiries, or any other university-related matter, our helpdesk is here to assist you. Submit your requests, track their status, and receive solutions quickly, all in one place.
        </p>
        <a href="#get-started" class="get-started-btn">Get Started</a>
      </div>
    </header>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="views/assets/js/main.js"></script>
  </body>
</html>
